.hero-page{
    width:100vw;
    height:100vh;
    background-color: #728FAF;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:-17vh;
    color:white;
    
}
.location{
    width:25vw;
    z-index:2;
    position: relative;
    bottom:40px;
}
.box{
    height:100px;
    width:250px;
    background-color: black;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    display:flex;
    position:relative;
    top:10px;

}
.india{
    font-size:20px;
    height:100%;
    width:50%;
    text-wrap: wrap;
    text-align: center;
    padding:15px;
    margin-left:2vw;
}
.atlas-container{
    width:70px;
    height:70px;
    clip-path: circle(50% at 50% 50%);
    background-color:#728FAF;
    text-align: center;
    margin:auto;
    font-size:50px;
    padding:auto;
}
.photo{
    width:33.3vw;
}
.skill{
    width:400px;
    z-index:0;
    font-size: 25px;
    padding-left:30px;
    text-wrap: nowrap;
    position: relative;
    bottom:70px;
    line-height:15px;
}
.skill .arrow{
    width:max-content;
    transform: rotate(-45deg);
    line-height:30px;
}
.img{
    width:75vh;
    
    position: absolute;
    top:0;
    margin:auto;

}
.big-name{
    position: absolute;
    font-size:23vh;
    bottom: 6vh;
    color:white;
    animation: marquee 30s infinite linear ;
    white-space: nowrap;
    font-family: "Roboto", sans-serif;
    font-weight:300;
}

@keyframes marquee {
    0%{ left:100vw; }
    
    100%{ left:-110vw;}
}

@media screen and (max-width:700px){
    .photo{
        width:100vw;
        display: flex;
    }
    .img{
        position: relative;
        width:72vh;
        margin: auto;
        top:10vh;
    }
    .location{
        position: absolute;
        right:40px;
        bottom:10vh;
    }
    .box{
         background-color: transparent;
    }
    .india{
        display: none;
    }
    .atlas-container{
        background-color: transparent;
    }
    .skill{
        position: absolute;
        font-size:20px;
        bottom:13vh;
        left:4vw;
        line-height: 10px;
    }
    .big-name{
        bottom: 33vh;
    }
}
@media screen and (max-width:500px){
    .img{
        right:30px;
    }
    .location{
        position:absolute;
        right:70px;
    }
}