.about-page{
    background-color: white;
    color:black;
    padding:16vh 16vw;
}
.about-top-section{
    display: grid;
    grid-template-columns: 45vw 25vw ;
}
.about-top-section p:nth-child(1){
    font-size: 30px;  
}
.about-top-section p:nth-child(2){
    margin-left: 70px;
}
.about-top-section h5{
    color: rgb(150, 148, 148);
    font-size: 13px;
    margin-top:150px;
}
.aboutme-bubble{
    background-color: black;
    color:white;
    height:12vw;
    width:12vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left:70px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}
.aboutme-bubble span{
    z-index: 2;
    font-size: 92%;
}
.aboutme-bubble::before{
    content: "";
    height:0;
    width:0;
    border-radius: 50%;
    background-color: rgb(37, 127, 191);
    position: absolute;
    top:0;
    left:0;
    transition: height 0.5s, width 0.5s;
  
}
.aboutme-bubble:hover::before{
    height:100%;
    width:100%;   
}
.aboutme-bubble:hover{
    color: white;
}


.works hr{
    width: 92vw;
    position: relative;
    right:15vw;
}
.works li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:130px;
}
.works li:hover span{
    color:rgb(158, 154, 154);
    position: relative;
    left:15px;
}
.works li:hover h1{
    color:rgb(158, 154, 154);
    position: relative;
    right:15px;
}
.more-work{
    display: flex;
    flex-direction: column;
}
.more-work-btn{ 
    color:black;
    padding: 15px 30px;
    border-radius: 30px;
    display: flex;
    position: relative;
    margin:40px auto 100px auto;
    border:1px solid rgb(173, 173, 173);
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}
.more-work-btn span{  
    z-index: 5;  
}
.more-work-btn:hover{
    color:black;
}
.more-work-btn::before{
    content: "";
    height:0;
    width:0;
    position: absolute;
    top: 0;
    left:0;
    background-color: rgb(37, 127, 191);
    border-radius: 25px;
    transition: height 0.5s, width 0.5s;
}
.more-work-btn:hover::before{
    height:100%;
    width:100%;
}
.left-scroll, .right-scroll{
    display: flex;
    margin:20px 0;
    overflow: hidden;
    gap: 30px;
    width:110vw;
    position: relative;
    right:20vw;
}
.right-scroll{
    right:15vw;
}