.sidebar-page{
    height:100vh;
    width:400px;
    background-color: black;
    color: white;
    position: fixed;
    top:0vw;
    right:-500px;
    padding:7%;
    transition: right 1s ease ;

}
.sidebar-page::after{
    content: "";
    width:20%;
    height:100%;
    clip-path: ellipse(50% 50% at 50% 50%);
    background-color: black;
    position: absolute;
    left:-45px;
    bottom:0;
    transition: left 0.3s, width 0.3s;
}
.animate::after{
    width:0;
    left:0;
}
.sidebar-page h5{
    font-size:10px;
    color:gray;
}
.Routes{
    font-size:40px;
    list-style-type: none;
    margin-bottom: 15vh;
    position: relative;
    right:10%;

}
.Links{
    color:white;
    margin-left: 10px;
}


.overlay{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.remove-overlay{
    background-color: transparent;
}

@media screen and (max-width:500px) {
    .sidebar-page{
        width:100vw;
    }
    .dot{
        position: relative;
        left:400px;
    }
}