.sidebar-page{
    height:100vh;
    width:500px;
    background-color: black;
    color: white;
    position: fixed;
    top:0vw;
    right:-500px;
    padding:7%;
    transition: right 0.7s ease;
}

.sidebar-page h5{
    font-size:10px;
    color:gray;
}
.Routes{
    font-size:40px;
    list-style-type: none;
    margin-bottom: 15vh;
    position: relative;
    right:10%;

}
.Links{
    color:white;
    margin-left: 10px;
}

.sidebar-page .a{
    margin:3%;
    color:white;
    cursor: pointer;
    position: relative;
}
.sidebar-page .a::after{
    content: "";
    position: absolute;
    bottom:-5px;
    left:0;
    background-color:white;
    height:1px;
    width:100%;
    transform: scale(0);
    transition: transform 0.3s ease;
}
.sidebar-page .a:hover::after{
    transform: scale(100%);
}
.sidebar-page .a:hover{
    color:white;
}


.overlay{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.remove-overlay{
    background-color: transparent;
}

@media screen and (max-width:500px) {
    .sidebar-page{
        width:100vw;
    }
    .dot{
        position: relative;
        left:400px;
    }
}