.hover-effect{
    z-index: 1;
    overflow: hidden;
}
.hover-effect span{
    z-index: 20;
}
.hover-effect::before{
    content: "";
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left:0;
    background-color: rgb(37, 127, 191);
    border-radius: 50%;
    transform: translate(-100%, -100%);
    transition: transform 0.5s ease;
}
.hover-effect:hover::before{
    transform: translate(0%, 0%);
}


.hover-effect-25{
    z-index: 1;
    overflow: hidden;
}
.hover-effect-25::before{
    content: "";
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left:0;
    background-color: rgb(37, 127, 191);
    border-radius: 25px;
    transform: translate(-100%, -100%);
    transition: transform 0.5s ease;
}
.hover-effect-25:hover::before{
    transform: translate(0%, 0%);
}