.hover-effect{
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
}
.hover-effect span{
    z-index: 20;
}
.hover-effect::before{
    content: "";
    height:0;
    width:0;
    position: absolute;
    top: 0;
    left:0;
    background-color: rgb(37, 127, 191);
    border-radius: 25px;
    transition: height 0.5s, width 0.5s;
}
.hover-effect:hover::before{
    height:100%;
    width:100%;
}