.contact-page{
    background-color: rgb(20, 20, 20);
    color:white;
    padding:70px 17vw;
    position: relative;
    
}
.contact-page .heading{
    display: flex;
    width:40vw;
    align-items: center;
    font-size:1.8vw;
    position:relative;
}
.contact-page .heading img{
    width:6vw;
    margin-right: 10px;
    margin-bottom: 15px;
}
.line-btn{
    position: relative;
}
.contact-page hr{
    position: relative;
    bottom:50px;
}
.contact-page .btn{
    height:140px;
    width:140px;
    border-radius: 50%;
    background-color: rgb(0, 106, 181);
    text-align: center;
    color: white;
    position:absolute;
    right:60px;
    bottom:-15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.mail-num{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width:90vw;
}
.mail-num div{
    height:max-content;
    width:max-content;
    border: 1px solid grey;
    padding:20px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    display: flex;
    overflow: hidden;
}

.mail-num div a{
    color:white;
    z-index: 5;
    margin: auto;
}

.contact-page .arrow{
    width:max-content;
    font-size: 25px;
    transform: rotate(45deg);
    position: absolute;
    right:15vw;
    top:25vh;
}

@media screen and (max-width:700px) {
   .contact-page{
     padding: 20px;
   }
   .contact-page .heading{
    font-size:2.5vw;
    width:60vw;
    top:20px;
   }
   .contact-page .heading img{
    width:8vw;
   }
   .contact-page .btn{
    height:100px;
    width:100px;
    bottom: 9px;
   }
   .mail-num div{
    width:100%;
    margin:auto;
   }
   .contact-page .arrow{
    top:20vh;
   }
}