.navbar{
    display:flex;
    gap:15px;
    justify-content: end;
    margin:2vw;
    font-size:16px;
    z-index:20;
}
.nav-item{
    color:white;
    margin-left:2vw;
    text-align: center; 
}
.dot{
    position: relative;
    top:-7px;
    font-size: 0;
    font-weight:bolder;
    transition: font-size 0.3s ease-in-out;
}
.nav-item:hover{
    color:white;
}
.copyright{
    display:inline-block;
    transition: transform 0.3s ease-in-out;
}
.logo{
    color:white;
    position:absolute;
    left:2vw;
    top:1.5vh;
    text-align: center;
    display: flex;
    justify-content: center;
}
.logo:hover{
    color:white;
}

.logo-text{
    width:115px;
    text-wrap: nowrap;
    margin-left:2px;
    display:inline-block;
    overflow-x: hidden;
}
.shakable:hover{
    animation:shake 1s ease-in-out;
}
.menu{
    background-color: transparent;
    display: none;
    border:none;
    outline:none;
    position: relative;
    bottom:1.5vh;
    
}

@keyframes shake {
    0%{transform: translateX(0);}
    25%{transform: translateX(-8px);}
    50%{transform: translateX(5px);}
    75%{transform: translateX(-3px);}
    100%{transform: translateX(0);}
}


@media screen and (max-width:500px) {
    .nav-item{
        display: none;
    }
    .menu{
        display:inline-block;
    }
}